.lead__image{
  max-width:984px;
  max-height:615px;
  width: 100%;
  object-fit: cover;
}

@media screen and (max-width: 425px) {
  .lead__image {

  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .lead__image {
    max-width: 928px;
    max-height: 580px;
  }
}