.intro{
  max-width: 690px;
  margin: 0 auto;
  padding: 114px 442px 0 148px;
}

@media (min-width: 769px) and (max-width: 1024px) {
  .intro {
    padding: 0 0 92px 48px;
    margin: 0;
  }
}

@media screen and (max-width: 768px) {
  .intro {
    max-width: 720px;
    padding: 0 0 88px 24px;
    margin: 0;
  }
}

@media screen and (max-width: 425px) {
  .intro {
    padding: 0 16px 64px 16px;
  }
}