.intro{
  max-width: 690px;
  margin: 0 auto;
  padding: 114px 442px 0 148px;
}

@media screen and (max-width: 425px) {
  .intro {
    padding: 0 16px 64px 16px;
  }
}

@media (min-width: 426px) and (max-width: 768px) {
  .intro {
    padding: 0 24px 88px 24px;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .intro {
    padding: 0 48px 92px 48px;
  }
}