.lead__subtitle{
  max-width: 640px;
  padding: 32px 0 64px 0;
  margin: 0 auto;
  text-align: center;
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  font-size: 30px;
  line-height: 36px;
  color: #FFFFFF;
}

@media screen and (max-width: 767px) {
  .lead__subtitle {
    max-width: 288px;
    font-size: 16px;
    line-height: 20px;
    padding: 0 16px 40px 16px;
  }
}

